#captureUrl {
  width: 400px
}

form {
  width: 400px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 100px;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    font-size: 14px;
}

legend {
    color: blue;
}

#remove{
  background: url(../../../../../../assets/images/red_close_button.png) 10px 5px no-repeat;
  display: block;
  content:'';
}
