#gm-panel{
  width: 500px;
  padding: 30px 10px 0px 30px;
  padding-bottom: 10px;
}

#gm-expand-collapse-checkbox{
  display: none;
}

.gm-expand-collapse{
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

.gm-expand-collapse + input{
  display: block; /* hide the checkboxes */
}

.gm-expand-collapse + input + div{
  display:block;
}

.gm-expand-collapse + input:checked + div{
  display:none;
}

label{
  background-color: LightSteelBlue;
}
