<!-- <form id="getMethodForm" class="scriptstep">
  <fieldset>
    <legend><b>GET Method</b></legend>
    <label>Enter Endpoint URL:</label>
    <input type="text" id="captureUrl" name="captureUrl" />
  </fieldset>
</form> -->



<div id="gm-panel">
    <label class="gm-expand-collapse" for="gm-expand-collapse-checkbox">Get Method</label>
    <input id="gm-expand-collapse-checkbox" type="checkbox">
    <div>
      <label>Enter Endpoint URL:</label>
      <input type="text" id="captureUrl" name="captureUrl" />
      <br>
      <label>Enter Endpoint URL:</label>
      <input type="text" id="captureUrl" name="captureUrl" />
    </div>
</div>
