.nav.nav-tabs {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0px 0px 10px 70px;
  line-height: 36px;
  position: relative;
}

.nav.nav-tabs:before,
.nav.nav-tabs:after {
  position: relative;
  content: "";
  width: 20%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #AAA;
  z-index: 1;
}

.nav.nav-tabs li {
  margin: 0 0px;
  padding: 0 60px;
  border: 1px solid #AAA;
  background: #ECECEC;
  display: inline-block;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  z-index: 0;
}

.nav.nav-tabs li.active {
  font-weight: bold;
  text-decoration:underline;
  background-color: #ADD8E6;
  font-size: 15px;
  text-transform:uppercase;
}

.nav.nav-tabs li a:enabled {
  text-decoration:none;
  color: black;
}

.nav.nav-tabs li:before {
  border-bottom-right-radius: 36px;
  border-width: 0 1px 1px 0;
}

.nav.nav-tabs li:after {
  border-bottom-left-radius: 36px;
  border-width: 0 0 1px 1px;
  font-size: 36px
}
