#query-param-header,
#header-param-header,
#path-param-header
{
  padding: 0px 0px 0px 10px;
}

ul{
   list-style: none;
}

li{
   display:inline-table;
   width: 20%;
}

h3{
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: DarkBlue;
}

h3:after
{
    content:'';
    display:block;
    border:1px solid DarkBlue;
}
