#pp-panel{
  border: 5px 5px 5px 5px;
  border-style:double;
  width: 200px;
  padding-bottom: 5px;
  background-color:lightgreen;
  text-align: center;
}

#pp-expand-collapse-checkbox{
  display: none;
}

.pp-expand-collapse{
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}

.pp-expand-collapse + input{
  display: block; /* hide the checkboxes */
}

.pp-expand-collapse + input + div{
  display:block;
}

.pp-expand-collapse + input:checked + div{
  display:none;
}

label{
  color: brown;
}
