#query-param-textbox{
  width: 120px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 2px
}

#param-border{
  min-height: 1px;
  height: auto;
  width: 300px;
  border:0.5px solid grey
}

#remove{
  font-size: 10px
}
