<div id="user-data-form">

    <form method="post" action="/">
      <fieldset>
          <legend>User Data</legend>

          <label>First Name:</label>
          <input type="text" id="firstName" name="firstName" />

          <br>

          <label>Last Name:</label>
          <input type="text" id="lastName"  name="lastName" />

          <br>

          <label>Email:</label>
          <input type="email" id="email"  name="email" />

          <br>
          <input type="submit" id="submit" value="SAVE"/>
      </fieldset>
    </form>

    <br>
    <br>

    <a href="/userDetails" class="button">Display All User Details</a>

</div>
