<!-- <div id="user-data-form">

    <form method="post" action="/">
      <fieldset>
          <legend><strong>User Data</strong></legend>

          <label>First Name:</label>
          <input type="text" id="firstName" name="firstName" />

          <br>

          <label>Last Name:</label>
          <input type="text" id="lastName"  name="lastName" />

          <br>

          <label>Email:</label>
          <input type="email" id="email"  name="email" />

          <br>
          <input type="submit" id="submit" value="SAVE"/>
      </fieldset>
    </form>

    <br>
    <br>

    <a [routerLink]="['userDetails']" class="button">Display All User Details</a>
    <a href="/userDetails" class="button">Display All User Details</a>
    <a href="/changeDetails" class="button">Change User Details</a>

</div>


<router-outlet></router-outlet> -->

<h3>Create User Record</h3>

<label>ID:</label>
<input type="text" name="id" id="id" />

<br>
<br>

<div>
  <select id="steps-dropdown" [(ngModel)]="selectedStepValue" (change)="addStepControls($event, $event.target.value)" (click)="resetStepDropDownValue()">
      <option [ngValue]="step" *ngFor="let step of steps">{{step.value}}</option>
  </select>
</div>

<ng-template #stepscontainer>
</ng-template>

<br>
<br>
<a (click)="createUserRecord()" class="button">Save Record</a>

<h3>Open User Record</h3>
<label>User Record ID:</label>
<input type="text" name="queryUserRecord" id="queryUserRecord" />
<a (click)="openUserRecord()" class="button">Open</a>
