#qp-panel{
  border: 10px 10px 10px 10px;
  border-style:double;
  width: 200px;
  padding-bottom: 5px;
  background-color: wheat;
  text-align: center;
}

#qp-expand-collapse-checkbox{
  display: none;
}

.qp-expand-collapse{
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}

.qp-expand-collapse + input{
  display: block; /* hide the checkboxes */
}

.qp-expand-collapse + input + div{
  display:block;
}

.qp-expand-collapse + input:checked + div{
  display:none;
}

label{
  color: red;
}
