/*
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
  background: #004080;
  width: 100%;
  padding: 40px 0;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}

a{
  text-decoration: none;
  color: inherit;
}

nav ul{
  background-color: #34495E;
  overflow: hidden;
  width: 20;
  color: white;
  padding: 0;
  text-align: left;
  margin: 0;
}

nav ul li{
  display:list-item;
  padding: 20px;
}




.full { height: 100%;}

menu{
  color: #000;

}

first{
  color: #FFF;

}

a {
    color: #FFF;

}
li {
    color: #FFF;
    list-style-type: none;

}
ul {
    color: #FFF;

}


/*btn btn-default btn-lg{
  color: #FFF;
}*/
